<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448260375139-q2f8epkrn7puundfjlb692k8ffh3ofog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448260375139-q2f8epkrn7puundfjlb692k8ffh3ofog</string>
	<key>API_KEY</key>
	<string>AIzaSyAojyGPPJnjrOH7srY-tjLZA01m-bjIf9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>448260375139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practice</string>
	<key>PROJECT_ID</key>
	<string>flutter-feedback-52055</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-feedback-52055.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448260375139:ios:6f337db43eb942de15ae56</string>
</dict>
</plist>